html, body{
    width: 100%;
    height: auto;
}


@media screen and (max-width: SMALL) {
    .titlePlusLogo img{
        display: none;
    }
}

@media screen and (min-width: SMALL) {
    .barPlusLogo img{
        display: none;
    }
}

.titlePlusLogo img{
    width: 70%;
}

.titlePlusLogo div{
    position: relative;
}

/* Styling for the campus section of the front page */
div#campus {
    display: flex;
    justify-content: center;
}

h2#hall_sub {
    display: flex;
    justify-content: center;
}

/* SCHEDULE BEGINNING */



/* SCHEDULE END */