html, body{
    width: 100%;
    height: auto;
}

.gif img{
    width: 100%;
    height: auto;
    margin: 5px;
}

.navigationBar{
    margin-bottom: 15px;
}

.nav-item {
    font-size: 3vw;
}
/* Styling for the campus section of the front page */
div#campus {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin: 15px;
}

div#campus img {
    max-width: 100%;
}

h2#hall_sub {
    display: flex;
    justify-content: center;
}

/* Center the carousel */
.carousel-inner img {
    margin: auto;
    max-width: 100%;
  }

  /* Vertically align the title within the grid */
.pageTitle {
    display: flex;
    align-items: center;
}

/* Stop title from clipping off the left side */
#frontTitle {
    position: relative;
    left: 15px;
}

/* SCHEDULE BEGINNING */



/* SCHEDULE END */

footer li{
    display: inline;

}

footer img {
    max-height: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    background-color: aquamarine;
}
